__pycache__/
**tester.py
**tester.ipynb
run_FAE.sh
run_RD.sh
.vscode/
*.egg-info
logs
src/data/**/*.csv
src/analysis/**/*.csv
src/analysis/**/*.png
src/analysis/**/*.pdf
src/analysis/**/*.svg
src/analysis/**/*.jpg
src/analysis/compare_resolutions.py